data/
env/
output/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
.eggs/
wheels/

# Testing
.pytest_cache/
.tox/
.coverage
coverage.xml
htmlcov/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Files
code_audit.md